@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    width: 100vw;
    background-color: whitesmoke;
}

/* header style  */

.banner {
    width: 100%;
    height: 809px;
    display: flex;
    justify-content: end;
    text-align: right;
    background-image: url("./images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.banner-content {
    width: 50%;
    margin-top: 200px;
    margin-right: 100px;
}

.banner-title {
    margin-bottom: 25px;
    padding: 10px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: black;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;

}

.primary-button {
    width: 150px;
    height: 64px;
    margin-top: 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: #145206;
    color: aliceblue;

}

/* section style  */

.fail-section {
    width: 1072px;
    height: 723.3px;
    display: flex;
    justify-content: end;
    text-align: right:
}

.section-img {
    width: 50%;
}

.section-content {
    margin: auto 100px;
}

.section-title {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 47px;

}

.section-description {

    font-weight: 400;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 18px;

}

.list {
    font-size: 16px;
    line-height: 22px;
}

.list li {
    list-style: none;
}
.list li i {
    font-size: 16px;
    color: #6b0902;
    padding: 10px;
}


/* plans style  */
.plans {
    width: 1200px;
    height: 400px;
    margin: 120px auto 0;
    text-align: center;
}


.plan-content {
    display: flex;
    gap: 50px;
}

.main-title {
    font-weight: 700;
    margin-bottom: 100px;
    font-size: 40px;
    line-height: 47px;

}

.plan-title {
    padding: 30px 10px 10px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #151414;
    ;
}

.plan-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #737272;
}

/* end section style    */

.section-end {
    width: 1140px;
    height: 300px;
    margin: 50px auto;
    background-image: url("./images/gradient1.png"), url("./images/watch.png");
    background-blend-mode: multiply;

}

.mind-set {}

.mind-set-title {
    width: 50%;
    padding: 80px 0 0 50px;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    color: azure;


}

.secondary-butt {
    width: 160px;
    height: 64px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
} 

/* footer style  */

.footer{
    width: 100%;
    height: 500px;
    display: flex;
    gap: 200px;
    margin-top: 100px;
    padding: 120px 200px;
    background-color:  #151414;
    color: ;
}

.footer-title{
    font-weight: 700;
font-size: 45px;
color: #F8F8F8;
}

.footer-descriotion{
    margin-top: 15px;
    margin-bottom: 22px;
    font-weight: 400;
font-size: 16px;
color: #ffffff;
}

.footer-call{
    margin-top: 20px;
    line-height: 35px;
}

.footer-contact ,a{
    text-decoration: none;
    padding-right: 15px;
}

.last-content{
    margin-right: 200px;
}

.footer-title-last{
    margin-bottom: 25px;
    font-weight: 700;
font-size: 20px;
color: #F8F8F8;
}

.footer-form ,input[type="email"]{
    width: 300px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 6px;
    padding: 10px;
    background-color: #151414;
    color: white;
}

.footer-form ,input[type="submit"]{
    width: 150px;
height: 50px;
font-size: 20px;
color: #F15B22;
}


    
